
@use '../variables';

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 16px;

        font-weight: 600;
        font-size: 40px;
    }

    &__description {
        width: 92%;
        margin-bottom: 32px;

        color: variables.$tertiaryFontColor;
        font-size: 14px;
    }

    &__form {
        width: 92%;
        display: flex;
        flex-direction: column;

        &__input {
            border: none;
            border-bottom: 2px solid variables.$tertiaryFontColor;

            padding: 8px 0;
            margin-bottom: 16px;
        }

        &__input:focus {
            outline: none;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 32px;

        &__btn-reload {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 16px;

            width: 49px;
            height: 49px;

            font-size: 25px;
            background-color: variables.$btnBackgroundColor;
            border: none;
            border-radius: 50%;

            cursor: pointer;
            transition: all ease .3s;
        }

        &__btn-reload:hover {
            background-color: lighten($color: variables.$btnBackgroundColor, $amount: 20%);
            scale: 1.15;
        }

        &__btn-calcular {
            width: 70%;
            padding: 12px;
    
            background-color: variables.$btnBackgroundColor;
            color: variables.$secondaryFontColor;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
    
            border: none;
            border-radius: 8px;
    
            cursor: pointer;
            transition: all ease .3s;
        }
    
        &__btn-calcular:hover {
            background-color: lighten($color: variables.$btnBackgroundColor, $amount: 20%);
            scale: 1.05;
        }
    }

    &__result {
        display: none;
        margin-top: 16px;
        padding: 8px;

        border-bottom: 2px solid variables.$tertiaryFontColor;
    }
}
