
$primaryBackgroundColor: #fdfdfd;

$primaryFontColor: #000000;
$secondaryFontColor: #f9f9f9;
$tertiaryFontColor: #6a7d8b;

$boxColorGray: #96a3ab;
$boxColorGreen: #0ead69;
$boxColorYellow: #e2b036;
$boxColorRed: #c3423f;

$circleColorGray: darken($boxColorGray, 20%);
$circleColorGreen: darken($boxColorGreen, 20%);
$circleColorYellow: darken($boxColorYellow, 20%);
$circleColorRed: darken($boxColorRed, 20%);

$btnBackgroundColor: #227c9d;
